.azure {
  width: 100%;
  height: 100svh;
  overflow: hidden;
  background-color: var(--color-bg-2);
  &-inner {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  &-left {
    display: flex;
    align-items: center;
    padding-right: 64px;
    padding-left: 155px;
    width: 100%;
    height: 100%;
  }
  &-right {
    width: 100%;
    height: 100%;
  }
  &-image {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &-content {
    h4 {
      margin-bottom: 40px;
    }
    h3 {
      margin-bottom: 6px;
    }
  }
}
