.intro {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--color-primary);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  &-inner {
    width: 152px;
    height: 130px;
  }
}
.cta {
  position: fixed;
  z-index: 100;
  right: 40px;
  bottom: 50px;
  transition: right 0.3s ease, opacity 0.3s ease;
  opacity: 1;
  @media (max-width: 991px) {
    right: 20px;
  }
  &.hide {
    opacity: 0;
    right: 20px;
    @media (max-width: 991px) {
      right: 10px;
    }
    .cta-item {
      transform: translateX(50%);
      opacity: 0;
    }
  }
  &-inner {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  &-item {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.4s ease, transform 0.5s ease,
      opacity 0.6s ease;
    svg {
      path {
        transition: all 0.4s ease;
      }
    }
    &.zalo {
      background-color: var(--color-secondary);
      &:hover {
        background-color: var(--color-primary);
        svg {
          path {
            fill: var(--color-secondary);
          }
        }
      }
    }
    &.phone {
      background-color: var(--color-primary);
      transition: background-color 0.4s ease, transform 0.7s ease,
        opacity 0.4s ease;
      &:hover {
        background-color: var(--color-secondary);
        svg {
          path {
            stroke: var(--color-primary);
          }
        }
      }
    }
  }
}
.underline-hover {
  position: relative;
  &.line-white {
    &::before {
      background-color: var(--color-white);
    }
  }
  &.line-yellow {
    &::before {
      background-color: var(--color-secondary);
    }
  }
  &:hover {
    &::before {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
  &::before {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    height: 1px;
    width: 100%;
    transform: scaleX(0);
    background-color: var(--color-primary);
    transform-origin: bottom right;
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.dropdown-custom {
  position: relative;
  cursor: pointer;
}
.dropdown-custom-menu {
  position: absolute;
  bottom: -29px;
  left: -16px;
  transform: translateY(100%);
  background-color: var(--color-white);
  width: 120px;
  padding: 8px;
  clip-path: inset(0 0 100% 0);
  will-change: clip-path;
  transition: clip-path 0.3s ease;
  pointer-events: none;
  &.dropdown--active {
    clip-path: inset(0 0 0 0);
    pointer-events: auto;
  }
}
.dropdown-custom-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  .value-select {
    display: flex;
    align-items: center;
    gap: 10px;
    span {
      color: var(--color-primary);
      font-size: 16px;
      line-height: 22px;
      font-weight: 600;
    }
  }
}
.dropdown-custom-item {
  display: flex;
  gap: 12px;
  align-items: center;
  padding: 8px;
  transition: all 0.3s ease;
  &:hover {
    background-color: #f6fcf8;
  }
  span {
    color: var(--color-primary);
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
  }
}

.lightpick {
  box-shadow: unset;
  padding: 0;
  color: var(--color-primary);
  background-color: var(--color-white);
  border-radius: unset;
  border: 1px solid rgba($color: #174b9c, $alpha: 0.3);
  overflow: hidden;
}

.lightpick__day.is-today {
  color: var(--color-primary);
  font-weight: bold;
  background-image: none;
}

.lightpick__day.is-in-range:hover {
  background-image: none;
  background-color: var(--color-primary);
}

.lightpick__day:not(.is-disabled):hover,
.lightpick__day.is-start-date.is-end-date {
  background-image: none;
}

.lightpick__day.is-in-range {
  background-color: rgba(132, 22, 26, 0.8);
  color: #fff;
}

.lightpick__month {
  padding: 10px;
  padding-left: 0;
  width: 267px;
}

.lightpick__day-of-the-week,
.lightpick__month-title > .lightpick__select-months,
.lightpick__month-title > .lightpick__select {
  color: var(--color-primary);
}

.lightpick__day.is-end-date.is-in-range.is-flipped,
.lightpick__day.is-start-date.is-in-range,
.lightpick__day.is-end-date.is-in-range,
.lightpick__day.is-start-date.is-in-range.is-flipped {
  background-color: var(--color-primary);
}

.lightpick__month-title {
  padding: 0;
  margin-left: 8px;
}
.lightpick__month-title > .lightpick__select-months,
.lightpick__day-of-the-week {
  text-align: left;
}
.lightpick__toolbar {
  display: flex;
  gap: 5px;
  padding: 10px 0;
  background-color: var(--color-white);
  @media (max-width: 991px) {
    padding-right: 8px;
  }
}
.lightpick__next-action,
.lightpick__previous-action {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0;
  background-image: url("../../images/ic-arrow-calendar-right.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 10px;
  background-color: var(--color-primary);
  margin: 0;
}
.lightpick__previous-action {
  transform: scaleX(-1);
}

.lightpick__day.is-available {
  transition: all 0.3s ease;
  border-radius: 50%;
}

.lightpick__day {
  height: auto;
  aspect-ratio: 1;
}

.lightpick__day.is-end-date,
.lightpick__day.is-end-date:hover,
.lightpick__day.is-start-date,
.lightpick__day.is-start-date:hover,
.lightpick__day.is-available:hover {
  background-color: var(--color-primary);
  background-image: unset;
  border-radius: 50%;
  color: var(--color-white);
}
.effect-blur-auto,
.data-fade-in-auto {
  opacity: 0;
}
