.hero {
  width: 100%;
  height: 100svh;
  position: relative;
  overflow: hidden;
  &.no-content {
    height: 640px;

    @media (max-width: 991px) {
      height: 540px;
    }
    &::before {
      content: unset;
    }
    .hero-content {
      display: none;
    }
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0),
      rgba(0, 0, 0, 0.8)
    );
  }
  &-img {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &-content {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 5;

    @media (max-width: 991px) {
      width: 80%;
    }

    &-hand {
      // position: absolute;
      // bottom: 150px;
      // left: 50%;
      // transform: translateX(-50%);
      // z-index: 3;
      // text-align: center;
      // @media (max-width: 991px) {
      //   font-size: 30px;
      //   line-height: 32px;
      //   max-width: 300px;
      //   width: 100%;
      //   bottom: 100px;
      // }
    }
    &-title {
      margin: 10px auto 0;
      width: 100%;
      max-width: 900px;
      // position: absolute;
      // bottom: 50px;
      // left: 50%;
      // transform: translateX(-50%);
      // text-align: center;
      // z-index: 5;
      @media (max-width: 991px) {
        margin: 0 auto;
      }
    }
  }
  &-box {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .swiper-hero {
    width: 100%;
    height: 100%;
  }
}
