.section-booking {
  .booking-wrapper {
    position: relative;
  }

  .booking-background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;

    img,
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: scale(1.3);
    }
  }
}
