.section-menu {
  padding: 40px;
  &-tab {
    .nav {
      display: flex;
      gap: 16px;
      &-link {
        padding: 7px 12px;
      }
    }

    .tab-inner {
      display: flex;
      align-items: center;
      gap: 10px;
      .text {
        font-size: 14px;
        line-height: 22px;
        font-weight: 600;
        font-family: var(--font-main);
      }
    }
  }
}
