.section-booking {
  .booking-wrapper {
    position: relative;
  }

  .booking-background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;

    img,
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: scale(1.3);
    }
  }

  .booking-form {
    width: max-content;
    margin: auto;
    padding: 40px 0;

    &__wrapper {
      padding: 40px 16px 24px;
      position: relative;
      z-index: 2;
      width: 500px;
      height: auto;
      background-color: var(--color-white);
    }

    form {
      margin-top: 40px;
    }

    .field {
      width: 100%;
      font-size: 16px;
      line-height: 22px;
      font-weight: 500;
      color: var(--color-primary);
      border: 1px solid rgba($color: #174b9c, $alpha: 0.3);
      border-bottom: unset;

      &.error {
        input,
        textarea {
          &::placeholder {
            color: red;
          }
        }
      }

      input,
      textarea {
        width: 100%;
        padding: 18px 16px;
        height: 58px;
        border: none;
        color: var(--color-primary);

        &::placeholder {
          color: var(--color-primary);
          font-weight: 500;
        }

        &[type="number"] {
          -moz-appearance: textfield;

          &::-webkit-inner-spin-button,
          &::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }
        }
      }

      textarea {
        height: 128px;
      }

      &:has([name="date"]) {
        position: relative;

        &::after {
          content: "";
          width: 12px;
          height: 12px;
          position: absolute;
          top: 50%;
          right: 16px;
          transform: translateY(-50%);
          background-image: url("../../images/ic_calender.svg");
          background-repeat: no-repeat;
          background-size: contain;
        }
      }

      .dropdown-custom {
        height: 100%;
        width: 100%;
        padding: 18px 16px;

        &-btn {
          justify-content: space-between;

          .icon {
            width: 12px;
            height: 12px;
          }

          span {
            font-weight: 500;
          }
        }

        &-menu {
          bottom: 0;
          left: 0;
          width: 100%;
          border: 1px solid rgba($color: #174b9c, $alpha: 0.3);

          span {
            font-weight: 500;
          }
        }
      }

      &-group {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        .field:first-child {
          border-right: unset;
        }
      }
    }

    button {
      font-size: 14px;
      line-height: 22px;
      font-weight: 600;
      text-align: center;
      color: var(--color-primary);
      height: 44px;
      border: 1px solid rgba($color: #174b9c, $alpha: 0.3);
      width: 100%;
      transition: all 0.4s ease;

      &:hover {
        color: var(--color-white);
        background-color: var(--color-primary);
      }
    }
  }
}
