.section-related {
  padding: 0 40px 40px;
  &.menu-related {
    padding-top: 40px;
    h2.title {
      margin-bottom: 24px;
    }
    .desc {
      margin-bottom: 40px;
    }
  }
  h2.title {
    margin-bottom: 40px;
  }

  .swiper-arrows {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
    gap: 24px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    position: unset;
    transform: none;
    width: 44px;
    height: 44px;
    border-radius: 3px;
    border: 1px solid var(--color-primary);
    transition: all 0.4s ease;
    margin: 0;
    color: var(--color-primary);

    &:hover {
      background-color: var(--color-primary);
      color: var(--color-white);
    }

    svg {
      width: 20px;
      height: 10px;
    }

    &::after {
      display: none;
    }
  }

  .swiper-button-prev {
    svg {
      transform: scaleX(-1);
    }
  }
}
