.section-gallery {
  padding: 40px;
  @media (max-width: 991px) {
    padding: 40px 16px;
  }

  .gallery {
    &-container {
      columns: 3;
      column-gap: 40px;
      @media (max-width: 991px) {
        column-count: 2;
        gap: 32px;
      }
      @media (max-width: 767px) {
        column-count: 1;
      }
      & > * {
        margin-bottom: 40px;

        @media (max-width: 991px) {
          margin-bottom: 16px;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    &-item {
      display: block;
      border: 2px solid var(--color-primary);
      overflow: hidden;
      &:hover {
        img {
          transform: scale(1.05);
        }
      }
      &.item-horizontal {
        width: 100%;
        height: 240px;
      }
      &.item-vertical {
        width: 100%;
        height: 480px;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.3s ease;
      }
    }
  }
}
