:root {
  --font-main: "Montserrat", sans-serif;
  --font-hand: "Amalfi Coast";
  // color
  --color-primary: #174b9c;
  --color-primary-2: #8ba9d8;
  --color-secondary: #f4c233;
  --color-other: #b46a29;
  --color-white-gray: #f1f2f2;
  --color-black: #231f20;
  --color-bg: #e7dfcb;
  --color-bg-2: #fff1de;
  --color-white: #fff;
}
.font-main {
  font-family: var(--font-main);
}
.font-hand {
  font-family: var(--font-hand);
}
.color-primary {
  color: var(--color-primary);
}
.color-primary-2 {
  color: var(--color-primary-2);
}
.color-secondary {
  color: var(--color-secondary);
}
.color-other {
  color: var(--color-other);
}
.color-white-gray {
  color: var(--color-white-gray);
}
.color-black {
  color: var(--color-black);
}
.color-white {
  color: var(--color-white);
}
.color-bg {
  background-color: var(--color-bg);
}
.color-bg-2 {
  background-color: var(--color-bg-2);
}
.h0-font {
  font-size: 48px;
  line-height: 56px;
  font-weight: 400;
  @media (max-width: 991px) {
    font-size: 24px;
    line-height: 32px;
  }
}
.h1-font {
  font-size: 38px;
  line-height: 65px;
  font-weight: 400;
}
.h2-font {
  font-size: 32px;
  line-height: 48px;
  font-weight: 400;
}
.h3-font {
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  @media (max-width: 991px) {
    font-size: 16px;
    line-height: 22px;
  }
}

.b1-font {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}
.b2-font {
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
}
