<div class="footer-container">
  <div class="footer-main">
    <div class="footer-box">
      <a href="./index.html" class="d-block">
        <img src="./assets/images/logo_footer.svg" alt="" />
      </a>
      <h4 class="h3-font color-white">
        Savory Journeys to the Southern Shores
      </h4>
    </div>
  </div>
  <div class="footer-info">
    <div class="footer-col">
      <p>157 Nam Ky Khoi Nghia, Xuan Hoa Ward, Ho Chi Minh City, Vietnam</p>
    </div>
    <div class="footer-col">
      <p>
        Opening hours <br />
        5:30pm - 1:00am
      </p>
    </div>
    <div class="footer-col">
      <a href="tel:+84 941 010 122 " class="underline-hover line-white"
        >+84 941 010 122
      </a>
    </div>
    <div class="footer-col">
      <a
        href="mailto:info@mediterrasaigon.com"
        class="underline-hover line-white"
        >info@mediterrasaigon.com</a
      >
    </div>
    <div class="footer-col">
      <div class="social">
        <a href="" target="_blank" class="fb">
          <img src="./assets/images/ic_fb.svg" alt="" />
          <img src="./assets/images/ic_fb_yellow.svg" alt="" />
        </a>
        <a href="" target="_blank" class="ins">
          <img src="./assets/images/ic_ins.svg" alt="" />
          <img src="./assets/images/ic_ins_yellow.svg" alt="" />
        </a>
        <a href="" target="_blank" class="zl">
          <img src="./assets/images/ic_zl.svg" alt="" />
          <img src="./assets/images/ic_zl_yellow.svg" alt=""
        /></a>
      </div>
    </div>
  </div>
</div>
<div class="footer-bottom">
  <div class="footer-bottom-col">
    <p class="b2-font color-white">© Mediterra Restaurant & Bar</p>
  </div>
  <div class="footer-bottom-col">
    <p class="b2-font color-white">
      © 2011 - 2025 TBSLAND | Member of TBS Group
    </p>
  </div>
  <div class="footer-bottom-col">
    <a href="" class="b2-font color-white underline-hover line-white"
      >General Terms</a
    >
  </div>
</div>
