<div class="header-container">
  <div class="header-hambuger open">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="header-menu">
    <ul>
      <li class="menu-item-has-children">
        <a href="./menu.html" class="b1-font color-primary">Menu</a>
        <div class="sub-menu">
          <ul>
            <li>
              <a href="" class="b1-font color-primary">Food</a>
            </li>
            <li>
              <a href="" class="b1-font color-primary">Drink</a>
            </li>
            <li>
              <a href="" class="b1-font color-primary">Wine</a>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <a href="./our-story.html" class="b1-font color-primary">Our Story</a>
      </li>
      <li>
        <a href="./gallery.html" class="b1-font color-primary">Gallery</a>
      </li>
      <li>
        <a href="./offer.html" class="b1-font color-primary">Offers</a>
      </li>
      <li>
        <a href="./news.html" class="b1-font color-primary">News</a>
      </li>
      <li>
        <a href="./loyalty.html" class="b1-font color-primary">Loyalty</a>
      </li>
    </ul>
  </div>
  <div class="header-logo">
    <a href="./index.html">
      <img src="./assets/images/logo.svg" alt="" />
    </a>
  </div>
  <div class="header-cta">
    <div class="book-table">
      <div class="icon">
        <img src="./assets/images/ic_calender.svg" alt="" />
      </div>
      <div class="text b2-font color-primary text-uppercase underline-hover">
        RESERVATION
      </div>
    </div>
    <div class="header-lang">
      <div class="dropdown-custom">
        <div class="dropdown-custom-btn">
          <div class="value-select">
            <img src="./assets/images/flag/flag_EN.svg" alt="" />
            <span>EN</span>
          </div>
          <div class="icon">
            <img src="./assets/images/ic_arrow_down.svg" alt="" />
          </div>
        </div>
        <div class="dropdown-custom-menu">
          <div class="dropdown-custom-item">
            <img src="./assets/images/flag/flag_VN.svg" alt="" />
            <span>VN</span>
          </div>

          <div class="dropdown-custom-item">
            <img src="./assets/images/flag/flag_KO.svg" alt="" />
            <span>KO</span>
          </div>
          <div class="dropdown-custom-item">
            <img src="./assets/images/flag/flag_JP.svg" alt="" />
            <span>JP</span>
          </div>
          <div class="dropdown-custom-item">
            <img src="./assets/images/flag/flag_CN.svg" alt="" />
            <span>CN</span>
          </div>
          <div class="dropdown-custom-item">
            <img src="./assets/images/flag/flag_FR.svg" alt="" />
            <span>FR</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="header-overlay">
  <div class="header-overlay-inner">
    <div class="header-overlay-top">
      <div class="header-hambuger close">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="header-overlay-main">
      <ul>
        <li class="menu-item-has-children">
          <a
            href="./menu.html"
            class="b1-font color-secondary underline-hover line-yellow"
            >Menu</a
          >
          <div class="sub-menu">
            <div class="menu-back">
              <p class="b1-font color-secondary underline-hover line-yellow">
                Back
              </p>
            </div>
            <ul>
              <li>
                <a
                  href=""
                  class="b1-font color-secondary underline-hover line-yellow"
                  >Food</a
                >
              </li>
              <li>
                <a
                  href=""
                  class="b1-font color-secondary underline-hover line-yellow"
                  >Drink</a
                >
              </li>
              <li>
                <a
                  href=""
                  class="b1-font color-secondary underline-hover line-yellow"
                  >Wine</a
                >
              </li>
            </ul>
            <div class="sub-menu-empty"></div>
          </div>
        </li>
        <li>
          <a
            href="./our-story.html"
            class="b1-font color-secondary underline-hover line-yellow"
            >Our Story</a
          >
        </li>
        <li>
          <a
            href="./gallery.html"
            class="b1-font color-secondary underline-hover line-yellow"
            >Gallery</a
          >
        </li>
        <li>
          <a
            href="./offer.html"
            class="b1-font color-secondary underline-hover line-yellow"
            >Offers</a
          >
        </li>
        <li>
          <a
            href="./news.html"
            class="b1-font color-secondary underline-hover line-yellow"
            >News</a
          >
        </li>
        <li>
          <a
            href="./loyalty.html"
            class="b1-font color-secondary underline-hover line-yellow"
            >Loyalty</a
          >
        </li>
      </ul>
    </div>
    <div class="header-overlay-bottom">
      <div class="book-table">
        <div class="icon">
          <img src="./assets/images/ic_calender_yellow.svg" alt="" />
          <img src="./assets/images/ic_calender.svg" alt="" />
        </div>
        <div class="text b2-font color-secondary text-uppercase">
          RESERVATION
        </div>
      </div>
    </div>
  </div>
  <div class="header-overlay-blur"></div>
</div>
