<div class="header-container">
  <div class="header-menu">
    <ul>
      <li class="menu-item-has-children">
        <a href="./menu.html" class="b1-font color-primary">Menu</a>
        <div class="sub-menu">
          <ul>
            <li>
              <a href="" class="b1-font color-primary">Food</a>
            </li>
            <li>
              <a href="" class="b1-font color-primary">Drink</a>
            </li>
            <li>
              <a href="" class="b1-font color-primary">Wine</a>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <a href="./our-story.html" class="b1-font color-primary">Our Story</a>
      </li>
      <li>
        <a href="./gallery.html" class="b1-font color-primary">Gallery</a>
      </li>
      <li>
        <a href="./offer.html" class="b1-font color-primary">Offers</a>
      </li>
      <li>
        <a href="./news.html" class="b1-font color-primary">News</a>
      </li>
      <li>
        <a href="./loyalty.html" class="b1-font color-primary">Loyalty</a>
      </li>
    </ul>
  </div>
  <div class="header-logo">
    <a href="./index.html">
      <img src="./assets/images/logo.svg" alt="" />
    </a>
  </div>
  <div class="header-cta"></div>
</div>
