@font-face {
    font-family: 'SVN-DS Gabriele';
    src: url('SVN-DSGabriele-Regular.eot');
    src: url('SVN-DSGabriele-Regular.eot?#iefix') format('embedded-opentype'),
        url('SVN-DSGabriele-Regular.woff2') format('woff2'),
        url('SVN-DSGabriele-Regular.woff') format('woff'),
        url('SVN-DSGabriele-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

